@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

body, .main-menu > li > a, .sub-menu a,
.main-menu-m > li > a, .sub-menu-m a {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 18px;
}
.ltext-102 {
    font-family: 'Josefin Sans', sans-serif !important;
}
.pagination {
    justify-content: center;
}
